{% extends 'base.html' %}

{% block title %}
    Listado de blogs en Wordplease
{% endblock %}

{% block section %}
    <!-- Si hay blogs, los listamos -->
    {% if blog_list|length > 0 %}
        <h2>Listado de blogs</h2>
        <ul class="post-list">
        {% for blog in blog_list %}
            <li>
                <div>
                    <h4><a href="{% url 'blog_posts' blog.owner.username %}">{{ blog }}</a></h4>
                    <p>Creado el {{ blog.created_at}}</p>
                </div>
            </li>
        {% endfor %}
    {% else %}
        ¡Sé el primero en crear un blog!
    {% endif %}
    </ul>
{% endblock %}