<h3>Últimos posts publicados</h3>
<ul class="post-list">
{% for post in post_list %}
    <li>
        <div>
            <h4><a href="{% url 'post_detail' post.blog post.pk %}">{{ post.title }}</a></h4>
            {% if post.imageUrl|length > 0 %}
            <img src="{{ post.imageUrl }}" alt="{{ post.title }}" width="280">
            {% endif %}
            <p>{{ post.summary }}</p>

            {% if post.published_at %}
            <p>Publicado el {{ post.published_at}}</p>
            {% else %}
            <p>Creado el {{ post.created_at}}</p>
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>