{% extends 'base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        Posts del blog {{ post_list.0.blog }}
    {% else %}
        Listado general de posts
    {% endif %}
{% endblock %}

{% block section %}
    {% if user.is_authenticated %}
        <h1>Posts del blog <span>{{ post_list.0.blog }}</span></h1>
    {% else %}
        <h1>Listado general de posts</h1>
    {% endif %}

    {% if post_list|length > 0 %}
        {% include 'posts/post_loop.html' %}
    {% else %}
        <p>Este blog aún no tiene posts</p>
    {% endif %}

{% endblock %}

